* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #475063;
  color: #fff;
  height: 120vh;
  padding: 2em;
  text-align: center;
  overflow: hidden;
}

.tagAreaDiv {
  border: 1px solid #fff;
  height: 600px;
  width: 100%;
  background-size: 80%;
  background: url("../../img/gojo2.jpg"), no-repeat, center;
}

.tag {
  position: fixed;
  height: 50px;
  width: 50px;
  border: 2px solid rgba(255, 255, 255, 0.66);
  border-radius: 6px;
  pointer-events: none;
  transition: ease-in-out 500ms;
}

.tagHidden {
  opacity: 0;
}

.tagVisible {
  /* position: "relative"; */
  opacity: 1;
}

.tagVisible::before {
  position: relative;
  content: attr(data-before);
  display: flex;
  flex-direction: row;
  top: -32px;
  width: 200%;
  margin: 5px;
  padding: 7px;
  text-align: left;
  font-size: 12px;
  background: lavender;
  color: #000;
  border-radius: 4px;
  flex-shrink: 2;
}
